# Created by https://www.toptal.com/developers/gitignore/api/node
# Edit at https://www.toptal.com/developers/gitignore?templates=node

node_modules
build
npm-debug.log
.nyc
.env
.DS_Store

# End of https://www.toptal.com/developers/gitignore/api/node